body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header */
header div.container {
  font-family: 'Caveat', cursive;
  font-size: 40px;
}

/*Main*/
main {
  flex-grow: 1;
  align-self: normal;
}

/*Menu*/
main .container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
}

.container-menu {
  display: flex;
  flex-direction: column;
}

#colorpicker {
 width: 91.6px;
 height: 34px;
 margin-left: 20px;
 margin-bottom: 10px;
 border: none;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#gridsize {
  margin-top: 10px;
}

button {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
  transition: ease-in;
}

#colorpicker:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
  transition: ease-in;
}


button:active {
  transition: transform;
}

/*Grid*/
.container-grid {
  cursor: crosshair;
  border: thick ridge;
  position: relative;
  bottom: 100px;
  width: 500px;
  height: 500px;
  display: grid;
}

.gridDiv {
}

/* Footer */ 
footer div.container {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

#github {
  height: 40px;
  width: auto;
  position: relative;
  bottom: 15%;
}
